
<p>Fabian Tan graduated with Honours from the University of South Australia in 1997 where he received his Bachelor of Architecture. Since then, he has worked at established architectural offices in Kuala Lumpur & Melbourne, handling a wide range of developments that include residential, institutional, commercial and interior projects for 11 years.
</p> 

<p>During those years, he was also passionately pursuing other forms of expression that resulted in the creation of art pieces, furniture and installations. This experience served as a catalyst to the formation of his own practice, Fabian Tan Architect in 2012.
</p>

<p>The firm has completed several notable houses which have garnered international attention and favourable publication throughout Asia & Europe.
</p>

<p>His approach to architecture has been one that involves evolution and flexibility. Ideas that are formed in the conception of a project never imposes anything on the site. Throughout, conventions are constantly reassessed, resulting in individual variations of concepts meant for a specific context. He believes that the essence and consistency of a space is a whole that reflects its constituent parts such as light, material, volume, and relationships. In this hectic and overly complicated times we exist in, restraint and reduction serve as his guiding philosophy to create buildings of subtle beauty.
</p>
