<div>
    <p>Fabian Tan Architect</p>
        <p>Kuala Lumpur</p>
        <p>Penang</p>
        <p>Malaysia</p>
</div>



<span>General: enquiries.fta@gmail.com</span><br>
<span>Career: jobs.ftarchitect@gmail.com</span><br>
<span> Website:<a href="www.fabian-tan.com"> www.fabian-tan.com</a></span><br>
<span> Facebook:<a href="www.facebook.com/fabiantanarchitect"> www.fabian-tan.com</a></span><br>
<span> Instagram:<a href="www.instagram.com/fabiantan.architect"> www.instagram.com/fabiantan.architect</a></span>
