a {
  font-size: 12pt;
  color: hsla(0, 0%, 20%, 0.8);
  opacity: 0.6;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: x-large;
  color: hsla(0, 0%, 20%, 0.7);
  opacity: 1;
  font-weight: normal;
  font-family: "Montserrat";
  width: 110%;
}
