<!-- 
    <img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-1.jpeg?alt=media&token=b02158f2-98ce-453b-ad1d-d85912fabe07" alt="image">
 -->

<div class="row" id="architecture-layout">
 <div (click)="goToContent()" class="card" >
    <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/r1Glass.png?alt=media&token=76071f97-375a-4d34-baf1-ce7a77f90832' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rumah #1</h5>
    </div>
  </div>
  <div class="card" >
    <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-1.jpeg?alt=media&token=b02158f2-98ce-453b-ad1d-d85912fabe07' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Makio House</h5>


    </div>
  </div>
  <div class="card" >
    <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-2.jpeg?alt=media&token=e0e0af87-663c-4dc9-9718-f26395f5f28e' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bewboc House</h5>


    </div>
  </div>
  <div class="card" >
    <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-1.jpeg?alt=media&token=b02158f2-98ce-453b-ad1d-d85912fabe07' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fugue House</h5>


    </div>
  </div>
</div>

<div class="row" id="architecture-layout">
    <div class="card" >
       <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-2.jpeg?alt=media&token=e0e0af87-663c-4dc9-9718-f26395f5f28e' class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Ottiqa House</h5>
       </div>
     </div>
     <div class="card" >
       <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-1.jpeg?alt=media&token=b02158f2-98ce-453b-ad1d-d85912fabe07' class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Makio House</h5>
   
   
       </div>
     </div>
     <div class="card" >
       <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-2.jpeg?alt=media&token=e0e0af87-663c-4dc9-9718-f26395f5f28e' class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Bewboc House</h5>
   
   
       </div>
     </div>
     <div class="card" >
       <img src='https://firebasestorage.googleapis.com/v0/b/etiqa-sme-bizcareplus.appspot.com/o/a-1.jpeg?alt=media&token=b02158f2-98ce-453b-ad1d-d85912fabe07' class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Fugue House</h5>
   
   
       </div>
     </div>
   </div>